/* Split 25/75 */
.splitcontentleft25{float:left; width:24%;}
.splitcontentright75{float:right; width:74%;} 
div.tags a {
	padding-left: 20px;
	background-image: url(../images/tag_label.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.icon22-tags
{
	background-image: url(../images/tags_label.png);
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

dt.blog-post { background-image: url(../images/balloon.png); }
dt.blog-comment { background-image: url(../images/balloons.png); }